.venv/
.vercel/
.next/
node_modules/
*.tsbuildinfo
*.egg-info/
__pycache__/
.pytest_cache/
*.py[cod]
.DS_Store

# Private taste data and copyrighted image files never enter OSS history.
/data
data/
models/
*.sqlite3
*.sqlite3-*
.env*.local
.env*
